/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Icon stuff */
.heraldrybox {
  position: relative;
  display: inline-block;
  vertical-align:middle;
}

.shield {
  color: darkred;
  width: 120px;
  height: 140px;
  margin: 5px;
  padding: 0px;
  border: 0px;
  position: relative;
  border-bottom-left-radius:  60px 90px;
  border-bottom-right-radius: 60px 90px;
  border: 1px solid black;
}

.thickborder {
  width: 70px;
  height: 90px;
  border: 25px solid red;
  border-bottom-left-radius:  60px 90px;
  border-bottom-right-radius: 60px 90px;
}

.topborder {
  border: 0px;
  border-top: 40px solid red;
}

.glyph {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 80px;
  height: 80px;
}

.shield.bordered .glyph {
  top: 30px;
  width: 60px;
  height: 60px;
}

.shield.crested .glyph {
  top: 50px;
  width: 70px;
  height: 70px;
}

.shield.triple .glyph {
  width: 40px;
  height: 40px;
}
